<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Macaw</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/stylesheets/main.css"/>

</head>
  <body>
      <header id="header">
        <div class="inner">
            <a href="" class="logo">Macaw</a>
            <nav id="nav">
                <a href="#home">Home</a>
                <a href="/portfolio">Portfolio</a>
                <a href="/learning">Learning</a>
                <a href="/job">Job Market</a>
                <a href="/forum">Forum</a>
                <a href="/login">Login</a>
            </nav>
        </div>
    </header>
    {{{body}}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  </body>
</html>

