<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Macaw</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/stylesheets/main.css"/>

</head>
  <body>
  
    {{{body}}}

  
  </body>
</html>

