
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="" class="logo">Macaw</a>
            <nav id="nav">
<<<<<<< HEAD
=======
                <a href="#home">Home</a>
                <a href="/portfolio">Portfolio</a>
                <a href="/learning">Learning</a>
                <a href="/job">Job Market</a>
                <a href="/forum">Forum</a>
>>>>>>> project-two-mario
                <a href="/login">Login</a>

            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1>Macaw: <span>A free + fully responsive<br />
                    Social Media Hub for developers</span></h1>
            <ul class="actions">
                <li><a href="/signup" class="button alt">Sign Me Up!</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header>
                <h2>Our Mission</h2>
            </header>
            <p>As developers we understand the  struggle of finding reliable resouces to study and learn.  So we created this app that provides you with excellent resources and its also a social media hub for developers.  We wanted developers to be able to communicate with eachother and learn for each other.</p>
        </div>
    </section>

    <!-- Two -->
    <section id="two">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>Free Learning resources</h3>
                    </header>
                    <div class="image fit">
                        <img src="" alt="" />
                    </div>
                    <p>An abudance of free resources for you to explore and find your career path. Or even get promoted at your current job.</p>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>Communicate and network with developers</h3>
                    </header>
                    <div class="image fit">
                        <img src="" alt="" />
                    </div>
                    <p>Chat with other developers. Ask question on the forum; and even look for a career.</p>
                </div>
            </article>
        </div>
    </section>

    <!-- Footer -->
    <!-- <section id="footer">
				<div class="inner">
					<header>
						<h2>Get in Touch</h2>
					</header>
					<form method="post" action="#">
						<div class="field half first">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6"></textarea>
						</div>
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="alt" /></li>
						</ul>
					</form>
					<div class="copyright">
						&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>
					</div>
				</div>
			</section> -->

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>





