
    <!-- Just an image -->
    <nav class="topnav">
      <a class="navbar-brand" href="#">
      <img src="images/1182843b-094f-4c46-8cc1-d0bb17df114e_200x200.png" width="35" height="35" alt="" loading="lazy">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="./portfolio.html">Portfolio</a>
        <a href="./learning.html">Learning</a>
        <a href="/job">Job Market</a>
        <a href="#Forum">Forum</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </nav>


    <div class="header">
      <h1>"For Dev's, by Dev's"
        <style>
          h1{color:chartreuse}
          h1{font-family:'Allan', cursive};
        </style>
      </h1>
    </div>





