
    <!-- Header -->
    {{!-- <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a> --}}

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1 style="color:#F75DC7 ;">Macaw:  <span>A free + fully responsive<br />
                    Social Media Hub for developers</span></h1>
            <ul class="actions">
                <li><a href="/signup" class="button alt">Sign Me Up!</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header>
                <h2>Our Mission</h2>
            </header>
            <p>As developers we understand the struggle of finding reliable resouces to study and learn.  So we created this app that provides you with excellent resources and its also a social media hub for developers.  We wanted developers to be able to communicate with eachother and learn for each other.</p>
        </div>
    </section>

    <!-- Two -->
    <section id="two">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>Free Learning resources</h3>
                    </header>
                    <div class="image fit">
                        <img src="" alt="" />
                    </div>
                    <p>An abudance of free resources for you to explore and find your career path. Or even get promoted at your current job.</p>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>Communicate and network with developers</h3>
                    </header>
                    <div class="image fit">
                        <img src="" alt="" />
                    </div>
                    <p>Chat with other developers. Ask question on the forum; and even look for a career.</p>
                </div>
            </article>
        </div>
    </section>




