
	<head>
		<title>Macaw/Jobs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="public/assets/stylesheets/main.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	
	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<header class="major special">
						<h1>Careers</h1>
						<p>Your dream job is one click away!</p>
					</header>
					<a href="#" class="image fit"><img src="public/assets/Images/pic12.jpg" alt=""></a>
				</div>
            </section>
    
    <title>Jobs</title>
    <div class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
          <div class="container text-center">
            <h1 class="display-3">Jobs</h1> 
            <form id="jobSearchBox">
              <div id="jobSearch">
				  <input type="text" name="search" placeholder="Search.." id="input">
			  </div>
            </form>

          </div>
          <div class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
            <div id="jobQueryDisplay"></div>
          </div>
    
    </div>
    {{!-- script files --}}
	<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <script src="/assets/js/jobQueries.js"></script>
