{{!-- <!DOCTYPE HTML>

<html>

<head>
  <title>Career Page</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="public\assets\stylesheets\learning.css" />
</head> --}}

{{!-- <body> --}}
	{{!-- <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a> --}}
  

  <div class="container">

  <div class="row">
    
    <div class="leftcolumn">
      
      <div class="card">
        <h2>Responsive Design</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
      
      <div class="card">
        <h2>API'S</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
    
      <div class="card">
        <h2>javaScript</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
    
    </div>
    
    <div class="rightcolumn">
      <div class="card">
        <h2>About Me</h2>
        <div class="fakeimg" style="height:100px;">Image</div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>
      <div class="card">
        <h3>Popular Video</h3>
      <embed><iframe width="auto" height="auto" src="https://www.youtube.com/embed/srvUrASNj0s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </embed>
      </div>
    </div>
  </div>

</div>
