
  <link rel="stylesheet" href="/assets/stylesheets/learning.css" />
    <link rel="stylesheet" href="/assets/stylesheets/main.css" />
    		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


	<header id="header">
        <div class="inner">
            <a href="" class="logo">Macaw</a>
            <nav id="nav">
                <a href="/member">Home</a>
                {{!-- <a href="/portfolio">Portfolio</a> --}}
                <a href="/learning" class="active">Learning</a>
                <a href="/job">Job Market</a>
                {{!-- <a href="/forum">Forum</a> --}}
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Profile</a>
   					<div class="dropdown-menu">
      					{{!-- <a class="dropdown-item" href="#" style="color: black;">Link 1</a>
      					<a class="dropdown-item" href="#" style="color: black;">Link 2</a> --}}
      					<a class="dropdown-item" href="/logout" style="color: black;">Log Out</a>
    				</div>
            </nav>
        </div>
    </header>

  <div class="container">

  <div class="row">
    
    <div class="leftcolumn">
      
      <div class="card">
        <h2>Responsive Design</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
      
      <div class="card">
        <h2>API'S</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
    
      <div class="card">
        <h2>javaScript</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
      </div>
    
    </div>
    
    <div class="rightcolumn">
      <div class="card">
        <h2>About Me</h2>
        <div class="fakeimg" style="height:100px;">Image</div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>
      <div class="card">
        <h3>Popular Video</h3>
      <embed><iframe width="auto" height="auto" src="https://www.youtube.com/embed/srvUrASNj0s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </embed>
      </div>
    </div>
  </div>

</div>
