
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="" class="logo">Macaw</a>
            <nav id="nav">
                <a href="/">Home</a>
                <a href="/portfolio">Portfolio</a>
                <a href="/learning">Learning</a>
                <a href="/job">Job Market</a>
                <a href="/forum">Forum</a>
                <a href="/login">Login</a>

            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

