{{!-- 
<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="assets\stylesheets\login.css" rel="stylesheet">
</head> --}}

<div class="login">
  <h1>Login</h1>
  <form>
      <input type="text" id='email-input' name="u" placeholder="Email" required="required" />
      <input type="password" id='password-input' name="p" placeholder="Password" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
  </form>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/login.js"></script>