		<script src="/assets/js/members.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


	<header id="header">
        <div class="inner">
            <a href="" class="logo">Macaw</a>
            <nav id="nav">
                <a href="/member" class="active">Home</a>
                {{!-- <a href="/portfolio">Portfolio</a> --}}
                <a href="/learning">Learning</a>
                <a href="/job">Job Market</a>
                {{!-- <a href="/forum">Forum</a> --}}
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Profile</a>
   					<div class="dropdown-menu">
      					{{!-- <a class="dropdown-item" href="#" style="color: black;">Link 1</a>
      					<a class="dropdown-item" href="#" style="color: black;">Link 2</a> --}}
      					<a class="dropdown-item" href="/logout" style="color: black;">Log Out</a>
    				</div>
            </nav>
        </div>
    </header>

		<!-- Header -->
	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Macaw: <span>A free + fully responsive<br />
					Social Media Hub for developers</span></h1>
					<ul class="actions">
						<li><a href="#" class="button alt">Welcome to Macaw!</a></li>
					</ul>
				</div>
			</section>
​
		<!-- One -->
			<section id="one">
				<div class="inner">
					<header>
						<h2>Our Mission</h2>
					</header>
					<p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu, erisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante.</p>
					<ul class="actions">
						<li><a href="#" class="button alt">Learn More</a></li>
					</ul>
				</div>
			</section>
​
		<!-- Two -->
			<section id="two">
				<div class="inner">
					<article>
						<div class="content">
							<header>
								<h3>Pellentesque adipis</h3>
							</header>
							<div class="image fit">
								<img src="" alt="" />
							</div>
							<p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
						</div>
					</article>
					<article class="alt">
						<div class="content">
							<header>
								<h3>Morbi interdum mol</h3>
							</header>
							<div class="image fit">
								<img src="" alt="" />
							</div>
							<p>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
						</div>
					</article>
				</div>
			</section>
​
		<!-- Three -->
			<section id="three">
				<div class="inner">
					<article>
						<div class="content">
							<span class="icon fa-laptop"></span>
							<header>
								<h3>Learnin Now!</h3>
							</header>
							<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna lorem ullamcorper laoreet, lectus arcu.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</article>
					<article>
						<div class="content">
							<span class="icon fa-diamond"></span>
							<header>
								<h3>Portfolio</h3>
							</header>
							<p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</article>
					<article>
					<div class="content">
							<span class="icon fa-laptop"></span>
							<header>
								<h3>Find Jobs</h3>
							</header>
							<p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
							<ul class="actions">
								<li><a href="#" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</article>
				</div>
			</section>