
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="" class="logo">Macaw</a>
            <nav id="nav">
                <a href="/home">Home</a>
                <a href="/portfolio" class="active">Portfolio</a>
                <a href="/learning">Learning</a>
                <a href="/job">Job Market</a>
                <a href="/forum">Forum</a>
                <a href="/login">Login</a>

            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    {{!-- cards with dev infos and links to their portfolios --}}

    <div class="row" style="width: 100%;">

                <div class="mario">
                    <img src="" style="width:35%;float:left;margin: 4px;">
                    <h3 style="margin: 4px;">Mario Kozic</h3>
                    <h5 style="margin: 4px;">Portfolio: <a href="http://www.github.com">Mario's Portfolio</a></h5>
                    <h4 style="margin: 4px;">Dev</h4>
                    <p style="width: 40%;float:left;margin:4px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime porro iure cumque exercitationem ullam ratione, dicta, aspernatur ducimus, id provident fugiat! Consectetur explicabo vel facilis hic voluptatibus voluptatem velit eaque.</p>
                </div>

                <div class="fernando">
                    <img src="" style="width:35%;float:left;margin:4px;">
                    <h3 style="margin: 4px;">Fernando Nunez</h3>
                    <h5 style="margin: 4px;">Portfolio: <a href="http://www.github.com">Fernando's Portfolio</a></h5>
                    <p style="margin: 4px;">Dev</p>
                    <p style="width: 40%;margin:4px;float:left;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, totam sequi vel necessitatibus labore veniam repellat! Voluptas eos ipsum accusantium quos doloribus unde minus in tempora odio est, ducimus molestiae.</p>
                </div>

                <div class="andrew">
                    <img src="" style="width:32%;float:left;margin:4px;">
                    <h3 style="margin: 4px;">Andrew Souza</h3>
                    <h5 style="margin: 4px;">Portfolio: <a href="http://www.github.com">Andrew's Portfolio</a></h5>
                    <p style="margin: 4px;">Dev</p>
                    <p style="width: 40%;margin:4px;float:left;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, quibusdam id provident ratione, assumenda perferendis dolore beatae odit sit dolor hic nulla. Ipsum libero sed architecto unde numquam, consectetur autem!
                    </p>
                </div>
                <div class="carlos">
                    <img src="" style="width:35%;float:left;margin: 4px;">
                    <h3 style="margin: 4px;">Carlos Perez</h3>
                    <h5 style="margin: 4px;">Portfolio: <a href="http://www.github.com">Carlos Portfolio</a></h5>
                    <p style="margin: 4px;">Dev</p>
                    <p style="width: 40%;float:left;margin:4px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quas illum vitae impedit nobis inventore maiores corporis aperiam autem quasi deserunt, laudantium cupiditate eum optio rem at iusto, repellat nam.</p>
                </div>
                <br>
                <div class="joel">
                    <img src="" style="width:35%;float:left;margin: 4px;">
                    <h3 style="margin: 4px;">Joel Caicedo</h3>
                    <h5 style="margin: 4px;">Portfolio: <a href="http://www.github.com">Joel's Portfolio</a></h5>
                    <p style="margin: 4px;">Dev</p>
                    <p style="width: 40%;float:left;margin:4px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quas illum vitae impedit nobis inventore maiores corporis aperiam autem quasi deserunt, laudantium cupiditate eum optio rem at iusto, repellat nam.</p>
                </div>

            </div>

