
    <!-- Just an image -->
    <nav class="topnav">
      <a class="navbar-brand" href="#">
      <img src="/assets/Images/1182843b-094f-4c46-8cc1-d0bb17df114e_200x200.png" width="35" height="35" alt="" loading="lazy">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <a href="#portfolio" class="active">Portfolio</a>
        <a href="/learning">Learning</a>
        <a href="/job">Job Market</a>
        <a href="#Forum">Forum</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </nav>

    {{!-- cards with dev infos and links to their portfolios --}}

    <div class="row" style="width: 100%;">

                <div class="mario" style="width:31%;float:left;margin-top:4px;margin-bottom:4px;margin-left:20px;margin-right:8px;">
                    <img src="" style="width:35%;float:left;margin: 4px;">
                    <h3 style="margin: 4px;">Mario Kozic</h3>
                    <h5 style="margin: 4px;">Portfolio: <a href="http://www.github.com">Mario's Portfolio</a></h5>
                    <h4 style="margin: 4px;">Dev</h4>
                    <p style="width: 40%;float:left;margin:4px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime porro iure cumque exercitationem ullam ratione, dicta, aspernatur ducimus, id provident fugiat! Consectetur explicabo vel facilis hic voluptatibus voluptatem velit eaque.</p>
                </div>

                <div class="fernando" style="width:31%;float:left;margin-top:4px;margin-bottom:4px;margin-left:8px;margin-right:8px;">
                    <img src="" style="width:35%;float:left;margin:4px;">
                    <h3 style="margin: 4px;">Fernando Nunez</h3>
                    <h5 style="margin: 4px;">Portfolio: <a href="http://www.github.com">Fernando's Portfolio</a></h5>
                    <p style="margin: 4px;">Dev</p>
                    <p style="width: 40%;margin:4px;float:left;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, totam sequi vel necessitatibus labore veniam repellat! Voluptas eos ipsum accusantium quos doloribus unde minus in tempora odio est, ducimus molestiae.</p>
                </div>

                <div class="andrew" style="width:31%;float:left;margin-top:4px;margin-bottom:4px;margin-left:8px;margin-right:8px;">
                    <img src="" style="width:32%;float:left;margin:4px;">
                    <h3 style="margin: 4px;">Andrew Souza</h3>
                    <h5 style="margin: 4px;">Portfolio: <a href="http://www.github.com">Andrew's Portfolio</a></h5>
                    <p style="margin: 4px;">Dev</p>
                    <p style="width: 40%;margin:4px;float:left;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, quibusdam id provident ratione, assumenda perferendis dolore beatae odit sit dolor hic nulla. Ipsum libero sed architecto unde numquam, consectetur autem!
                    </p>
                </div>
                <div class="carlos" style="width:31%;float:left;margin-top:4px;margin-bottom:4px;margin-left:20px;margin-right:8px;">
                    <img src="" style="width:35%;float:left;margin: 4px;">
                    <h3 style="margin: 4px;">Carlos Perez</h3>
                    <h5 style="margin: 4px;">Portfolio: <a href="http://www.github.com">Carlos Portfolio</a></h5>
                    <p style="margin: 4px;">Dev</p>
                    <p style="width: 40%;float:left;margin:4px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quas illum vitae impedit nobis inventore maiores corporis aperiam autem quasi deserunt, laudantium cupiditate eum optio rem at iusto, repellat nam.</p>
                </div>
                <br>
                <div class="joel" style="width:31%;float:left;margin-top:4px;margin-bottom:4px;margin-left:8px;margin-right:8px;">
                    <img src="" style="width:35%;float:left;margin: 4px;">
                    <h3 style="margin: 4px;">Joel Caicedo</h3>
                    <h5 style="margin: 4px;">Portfolio: <a href="http://www.github.com">Joel's Portfolio</a></h5>
                    <p style="margin: 4px;">Dev</p>
                    <p style="width: 40%;float:left;margin:4px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quas illum vitae impedit nobis inventore maiores corporis aperiam autem quasi deserunt, laudantium cupiditate eum optio rem at iusto, repellat nam.</p>
                </div>

            </div>


    <div class="header">
      <h1>"For Dev's, by Dev's"
        <style>
          h1{color:chartreuse}
          h1{font-family:'Allan', cursive};
        </style>
      </h1>
    </div>