{{!-- 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="assets\stylesheets\signup.css" rel="stylesheet">
</head> --}}

{{!-- <body> --}}
  
  <div class="login">
    <h1>Sign Up</h1>
<<<<<<< HEAD
    <form class='signup'>
        <input type="email" id='email-input' name="email" placeholder="Email" required="required" />
        <input  name="u" placeholder="First Name" required="required" />
        <input  name="u" placeholder="Last Name" required="required" />
        <input type="password" id='password-input' name="p" placeholder="Password" required="required" />
=======
    <form>
        <input type="email" name="email" id="email-input" placeholder="Email" required="required" />
        <input type="text" name="u" id="firstName-input" placeholder="First Name" required="required" />
        <input type="text" name="u" id="lastName-input" placeholder="Last Name" required="required" />
        <input type="password" name="p" id="password-input" placeholder="Password" required="required" />
>>>>>>> 6e209e54b4e88dadb5681173f6298df5ce246f46
        <button type="submit" class="btn btn-primary btn-block btn-large">Count Me In!</button>
    </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/signup.js"></script>

{{!-- </body>

</html> --}}